[Unit]
Description=Ollama Watchdog Timer
Requires=ollama-watchdog.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=10s

[Install]
WantedBy=timers.target
