[Unit]
Description=Ollama Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/bash -c 'fuser -k 11434/tcp 2>/dev/null || true'
ExecStart=/usr/local/bin/ollama serve
User=ollama
Group=ollama
Restart=always
RestartSec=3
TimeoutStartSec=600
TimeoutStopSec=10
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ollama
KillMode=mixed
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
